.font-size-xs {
  font-size: .6rem;
}

.font-size-sm {
  font-size: .85rem;
}

.font-size-default {
  font-size: 1rem;
}

.font-size-lg {
  font-size: 1.12rem;
}

.font-size-xl {
  font-size: 1.25rem;
}

.font-size-xxl {
  font-size: 1.5rem;
}

.font-size-xxxl {
  font-size: 1.75rem;
}
