@for $i from 1 through 5 {
  .p-#{$i}  { padding:        4px * $i; }
  .pb-#{$i} { padding-bottom: 4px * $i; }
  .pl-#{$i} { padding-left:   4px * $i; }
  .pr-#{$i} { padding-right:  4px * $i; }
  .pt-#{$i} { padding-top:    4px * $i; }
}
