@for $i from 0 through 5 {
  .p#{$i}   { padding:         5px * $i; }
  .pb#{$i}  { padding-bottom:  5px * $i; }
  .pl#{$i}  { padding-left:    5px * $i; }
  .pr#{$i}  { padding-right:   5px * $i; }
  .pt#{$i}  { padding-top:     5px * $i; }
  .py#{$i}  { padding-top:     5px * $i;
              padding-bottom:  5px * $i; }
  .px#{$i}  { padding-left:    5px * $i;
              padding-right:   5px * $i; }
}
